<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list.name }}</title>
</head>
<body>
<main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <div><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></div>
        <div><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for list_item in todo_list.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' list_item.id %}">{{ list_item.task }}</a></td>
                    <td>{{ list_item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
